a, a:visited, #sf_admin_container a {
    color: #5b6cd6;
    text-decoration: none;
}
a:hover, #sf_admin_container a:hover {
    color: #0099ff;
}


h1 {
    font-family: 'Carter One', serif;
    font-weight: normal;
    color: #555;
	text-shadow: 2px 2px 0px #FFF;
    font-size: 1.6em;
}
h2 {
    font-family: 'Carter One', serif;
    font-weight: normal;
    color: #666;
	text-shadow: 2px 2px 0px #FFF;
}

body {
	padding: 0;
}
#header, #content {
	padding: 30px;
}
#header {
    padding-left: 80px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: rgba(0, 0, 0, 0.75) url(../images/logo.png) no-repeat 15px  center;
}
#header h1 {
	margin: 0; padding: 0 0 5px 0;
	color: #EEE;
	text-shadow: 1px 1px 1px #000;
    font-size: 1.5em;
}
#header h1 #remi-joke {
    padding-left: 10px;
    color: #111;
	text-shadow: 1px 1px 0px #555;
}
#header ul {
	margin: 0;
}
#header ul li {
	display: inline;
	padding-right: 10px;
}
#header ul li + li {
	border-left: 1px solid #181818;
	padding-left: 10px;
}
#header ul li a {
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	color: #888;
    font-weight: bold;
}
#header ul li a:hover {
	color: white;
}

/* logs */

ul#command_list {
    padding: 0; margin: 0;
}
ul#command_list li {
    padding: 0;
    margin: 15px 0;
    list-style: none;
    position: relative;
}
ul#command_list li .process_status {
    position: absolute;
    top: 0px; right: 0px;
}
ul#command_list li .process_info ,
ul#command_list li .process_status {
  color: #AAA;
    padding: 0;
    margin: 0 0 3px 0;
    font-size: 1.05em;
    text-shadow: 2px 2px 1px #FFF;
    font-weight: bold;
}
ul#command_list li pre {
    color: #DDD;
    background: #333;
    margin: 0; padding: 8px;
}
ul#command_list li pre.commandline {
    border-left: 10px solid #73B65A;
    color: #CCC;
    background: #222;
}
ul#command_list li.is_running pre.commandline {border-left-color: #ffd700;}
ul#command_list li.has_errors pre.commandline {border-left-color: #ff2222;}

ul#command_list li div.stderr,
ul#command_list li div.stdout {
    max-height: 100px;
    overflow-y: auto;
}
ul#command_list li .stderr pre { color: #A00; background: rgba(255, 20, 2, .1); }
ul#command_list li .stdout pre { color: #333; background: #FFF; }

ul#command_list li .process_info .owner {
  color: black;
}
ul#command_list li .process_info .started_at {
}
ul#command_list li .process_status .pid ,
ul#command_list li .process_status .return_code ,
ul#command_list li .process_info   .label {
    color: #555;
}
ul#command_list li.is_stopped  .process_status .status {color: #ff2222;}
ul#command_list li.is_finished .process_status .status {color: #73B65A;}

ul#image_server_status li .status {
    font-family: monospace;
    margin: 0 1em;
}
ul#image_server_status li .hostname {
    font-weight: bold;
}

#sf_admin_container .sf_admin_form_field_hosts li {
    display: block;
}

#alert{
  color: red;
  font-size: 14px;
  padding-top: 2px;
}