
body {
	padding: 0;
}
#header, #content {
	padding: 30px;
}
#header {
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0.8);
}
#header h1 {
	margin: 0; padding: 0;
	color: #DDD;
	text-shadow: 2px 2px 2px #000;
}
#header ul {
	margin: 0;
}
#header ul li {
	display: inline;
	padding-right: 10px;
}
#header ul li + li {
	border-left: 1px solid rgba(255,255,255,.2);
	padding-left: 10px;
}
#header ul li a {
	text-decoration: none;
	text-shadow: 2px 2px 2px #000;
	color: #268BCC;
}
#header ul li a:hover {
	color: white;
}

